version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ":10001"
    networks:
      - shared
    env_file:
      - .env
    volumes:
      - /opt/ipban/logs:/app/logs

networks:
  shared:
    external: true
    name: shared_db_net